name: Dart Lints

on:
  pull_request:
    branches: [main, dev]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - name: Install deps
        run: dart pub get
      - name: Analyze
        run: dart analyze
